{{ $icon := .Get "icon" | default "fa-lightbulb" }}
{{ $url_text := .Get "url_text" }}
<div class="card-element col-lg-4 col-sm-12 col-md-6 col-xs-12">
  <div class="card">
    <div class="card-body" style="text-align: center;">
    <a class="card-title" href='{{ .Get "href" }}'>{{ .Get "title" | markdownify }}</a>
    <p style="text-align: center;">Product Family</p>
    <div class="card-text mb-0" style="text-align: left;">{{ .Inner }}</div>
    {{ with .Get "url" }}<p><a href="{{ . }}">{{ with $url_text }}{{ $url_text }}{{ else }}{{ T "ui_read_more" }}{{ end }} …</a></p>{{ end }}
  </div>
  </div>
</div>
